<!DOCTYPE html>
<html>
<head>
    <title>Classic Cipher</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
    <main>
        <h1>Affine Cipher</h1>
        <div id=input_section>
        <input id="plainField" type="text" placeholder="Plain Text">
        <input id="keyM" type="text", placeholder="Key M">
        <input id="keyB" type="text", placeholder="Key B">
        <input id="cipherField" type="text" placeholder="Cipher Text">
        <br>
        <input id="encryptButton" type="submit" value="Encrypt">
        <input id="decryptButton" type="submit" value="Decrypt">        
        <br>
        </div>
        <a href="../">Back</a>
    </main>
    <script>
        $("#encryptButton").click(() => {
            let plain = $("#plainField").val();
            let M = $("#keyM").val();
            let B = $("#keyB").val();
            $.get("./affine/encrypt", {text: plain, keyM: M, keyB: B}).done(data => {
                $("#cipherField").val(data)
            });
        })
        $("#decryptButton").click(() => {
            let cipher = $("#cipherField").val();
            let M = $("#keyM").val();
            let B = $("#keyB").val();
            $.get("./affine/decrypt", {text: cipher, keyM: M, keyB: B}).done(data => {
                $("#plainField").val(data)
            });
        })
    </script>
</body>
</html>