{% extends 'vigenere.html' %}

{% block vigenere %}

<h3>Full Vigenere</h3>

<div class="container">
  <form action="/upload-vigenere/full" method="POST" enctype="multipart/form-data"
  class="row w-100">
    <h6 class="col-3">File Input:</h6>
    <div class="col">
      <div class="row">
        <div class="col">
          <input type="file" name="file"/>
        </div>
        <div class="col">
          <input id="inputFile" type="submit"/>
        </div>
      </div>
    </div>
  </form>
  <form action="/vigenere/full" method="post" class="row w-100">
    <div class="row">
      <h6 class = "col-3">Text Input:</h6>
      <div class="col">
        {% if fileContent != "" %}
        <div class="w-100 my-2 d-flex justify-content-start">
          <input type="text" id="plainteks" name="plainteks" placeholder="plainteks" value="{{ fileContent }}">
        </div>
        <div class="w-100 my-2 d-flex justify-content-start">
          <input type="text" id="key" name="key" placeholder="key" value="{{ data.keytext }}">
        </div>
        <div class="w-100 my-2 d-flex justify-content-start">
          <input type="text" id="cipherteks" name="cipherteks" placeholder="cipherteks" value="{{ fileContent }}">
        </div>
        {% else %}
        <div class="w-100 my-2 d-flex justify-content-start">
          <input type="text" id="plainteks" name="plainteks" placeholder="plainteks" value="{{ data.plaintext }}">
        </div>
        <div class="w-100 my-2 d-flex justify-content-start">
          <input type="text" id="key" name="key" placeholder="key" value="{{ data.keytext }}">
        </div>
        <div class="w-100 my-2 d-flex justify-content-start">
          <input type="text" id="cipherteks" name="cipherteks" placeholder="cipherteks" value="{{ data.ciphertext }}">
        </div>
        {% endif %}
      </div>
    </div>
    <div class="d-flex justify-content-center align-items-center">
      <input id="btn-encrypt" type="submit" name="enc_dec_mode" value="Encrypt" class="mx-1">
      <input id="btn-decrypt" type="submit" name="enc_dec_mode" value="Decrypt" class="mx-1">
    </div>
  </form>
  {% if data.keytext != "" %}
    {% if encrypt %}
      <div class="">
        <h4>Result:</h4>
        <p>Your plaintext: {{ data.plaintext }}</p>
        <p>Your key: {{ data.keytext }}</p>
        <p>Ciphertext: <b>{{ data.ciphertext }} (<i>{{ data.ciphertext_spaced }}</i>)</b></p>
      </div>
    {% else %}
      <div class="">
        <h4>Result:</h4>
        <p>Your ciphertext: {{ data.ciphertext }}</p>
        <p>Your key: {{ data.keytext }}</p>
        <p>Plaintext: <b>{{ data.plaintext }}</b></p>
      </div>
    {% endif %}
  {% endif %}
</div>

{% if request.endpoint == "full_vigenere_page" %}
  <div class='container'>
    <form action="/vigenere/full/table" method="GET">
      <a href=# id=showTable><button type="submit" class='btn btn-default'>Show Key Table</button></a>
    </form>
  </div>
{% elif request.endpoint == "full_vigenere_table" %}
  <div class='container'>
    <form action="/vigenere/full" method="GET">
      <a href=# id=hideTable><button type="submit" class='btn btn-default'>Hide Key Table</button></a>
    </form>
  </div>
{% endif %}

{% block showTable %}
{% endblock %}

{% endblock %}